<div class="feedback-input">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <fa [hidden]="this.glyphicon == ''" name="{{this.glyphicon}}"></fa>
        &nbsp;
        <span class="align-middle" [hidden]="this.label == ''">{{this.label}}</span>
      </span>
    </div>
    <input
      class="form-control"
      type="{{this.type}}"
      name="{{this.name}}"
      placeholder="{{this.placeholder}}"
      [(ngModel)]="this.value"
      (blur)="this.onBlur()"
    />
    <div
      class="input-group-append input-group-text"
      [hidden]="!this.isAlertVisible"
      [ngClass]="'border border-' + this.alert + ' rounded-right'"
    >
      <fa name="{{this.feedbackIcon}}"></fa>
      &nbsp;
      {{this.message}}
      &nbsp;
      <span class="text-right" (click)="this.alertDismissClick()">&times;</span>
    </div>
  </div>
</div>
