<div [ngClass]="'input-group d-flex flex-row has-feedback ' + this.feedback">
<!--  <div class="p-1"> -->
    <span class="input-group-addon">
      <fa [hidden]="this.glyphicon == ''" name="{{this.glyphicon}}"></fa>
      <label [hidden]="this.label == ''">{{this.label}}</label>
    </span>
<!--  </div> -->
<!--  <div class="p-1">  -->
    <input
      class="form-control"
      type="{{this.type}}"
      name="{{this.name}}"
      placeholder="{{this.placeholder}}"
      [(ngModel)]="this.value"
      (blur)="this.onBlur()"
    />
<!--  </div> -->
<!--  <div class="p-1"> -->
    <div
      [hidden]="this.message == '' && this.feedbackIcon==''"
      [ngClass]="'d-inline form-control-feedback feedback align-middle alert ' + this.alert"
    >
      <fa name="{{this.feedbackIcon}}"></fa>
      {{this.message}}
    </div>
<!--  <div> -->
</div>
