<div>title {{this.title}}</div>
<pop-up
  [title]="'Icons'"
>
  <div class="pop-up-body">
    <font-awesome-free-icon-list></font-awesome-free-icon-list>
  </div>
</pop-up>
<pop-up #popUp
  [title]="'Declarative Pop Up'"
  (onBeforeShow)="this.onOpen()"
  (onSaveAfterHide)="this.onSave()"
>
  <div class="pop-up-body">
    <div>
      <label>titleCopy</label>
      <input [(ngModel)]="this.titleCopy"  type="text"/>
    </div>
  </div>
  <div class="pop-up-footer">
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="popUp.close()">Close</button>
    <button type="button" class="btn btn-primary" aria-label="Save" (click)="popUp.save()">Save</button>
  </div>
</pop-up>

<div>feedbackInputValue {{this.feedbackInputValue}}</div>
<div>feedbackInputStatus {{this.feedbackInputStatus}}</div>
<div>feedbackInputMessage {{this.feedbackInputMessage}}</div>
<feedback-input
  [type]="'text'"
  [name]="'name'"
  [placeholder]="'placeholder'"
  [glyphicon]="'glyphicon-tags'"
  [(value)]="this.feedbackInputValue"
  (blur)="this.onFeedbackInputBlur(this.feedbackInputValue)"
  [status]="this.feedbackInputStatus"
  [message]="this.feedbackInputMessage"
>
</feedback-input>
